alembic==1.18.4
asyncpg==0.31.0
beautifulsoup4==4.12.3
bcrypt==4.0.1
chromadb==1.5.1
email-validator==2.3.0
fastapi==0.133.1
groq==0.28.0
langchain-community==0.3.0
passlib==1.7.4
pdfplumber==0.11.9
psycopg[binary]==3.3.3
pydantic-settings==2.13.1
python-docx==1.2.0
python-jose==3.5.0
python-multipart==0.0.22
SQLAlchemy==2.0.47
sentence-transformers==3.0.0
uvicorn[standard]==0.41.0
